{% block addCar %}
<head>
<link rel='stylesheet' id='google-fonts-css'  href='https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i,900,900i|Source+Sans+Pro:300,300i,400,400i,600,600i,700,700i,900,900i&#038;subset=latin-ext' type='text/css' media='all' />
<link href="../css/main.css" type="text/css" rel="stylesheet" />
 <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
</head>
  <main role="main" class="main">
    <h1>Add Car</h1>
  
    <form method="post" action="/carAdded">
      License plate: <input type="text" name="licensePlate" autofocus="autofocus">

      Brand: <select>
   {% for brand in Brands %}
      <option value={{Brands.brand}}>{{Brands.brand}}</option>
      {% endfor %}
      </select>
      
      Colour: <input type="text" name="colour" autofocus="autofocus">

    Year: <input type="text" name="year" autofocus="autofocus">

    Price: <input type="text" name="price" autofocus="autofocus">
    <input type="submit" value="Ok">
    </form>
    
  </main>
{% endblock %}
