{% block addCar %}
				<header class="text-center m-5">
					<h2 class=" font-weight-bold">Renting Done Right.
					</br>
					Finally.</h2>
			</header>



<nav class="navbar navbar-expand-lg navbar-dark nav-bg " >
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
  <ul class="navbar-nav mx-auto font-weight-bold">
      <li class="nav-item">
        <a class="nav-link" href="/customersMenu">Customers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/carsMenu">Cars</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/rentCar">Rent Car</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/returnCar">Return Car</a>
      </li>
	  <li class="nav-item">
        <a class="nav-link" href="/history">History</a>
      </li>
    </ul>
  </div>
</nav>
      <main role="main" class="main">
    <div class="mainsection">
      <section class="form">
        
      
        <form id="addCar" method="post" action="">
         <legend class="formHeader">
        <h2>Add Car</h2>
      </legend>
          <label>License plate: <input id="licensePlate" type="text" name="licensePlate" autofocus="autofocus" maxlength="6"></label>
     
          <label>
            Brand: <select name="brand" autofocus="autofocus">
         {% for brand in brands %}
            <option value={{brand}}>{{brand}}</option>
            {% endfor %}
            </select>
          </label>
          
          <label>
            Colour: <select name="colour" autofocus="autofocus">
         {% for colour in colours %}
            <option value={{colour}}>{{colour}}</option>
            {% endfor %}
            </select>
          </label>
    
        <label>Year: <input id="year" type="text" name="year" autofocus="autofocus"></label>
    
        <label>Price: <input id="price" type="text" name="price" autofocus="autofocus"></label>
  
          <input class="btn btn-custom col mt-2" type="submit" value="Add Car" onclick="validation()">
          <a href="/carsMenu" class="btn btn-danger col mt-2">Cancel</a>

        </form>
      </section>
      
    </div>
  </main>
        <script>

    function validation() {
      //lagrar year input
      let year = document.getElementById("year").value;
      //lagrar price input
      let price = document.getElementById("price").value;
      //lagrar licensePlate input
      let licensePlate = document.getElementById("licensePlate").value;
      let regx = /^[a-z A-Z]{3}\d{3}$/;
      
      if(regx.test(licensePlate) && price > 0 && year > 1900 && year < 2020) {
        document.getElementById("addCar").action = "/carAdded";

      } else {
        alert("Invalid input. Please note that the license plate must start with 3 letters and end with 3 numbers. Furthermore, the price cannot be negative and the year must be between 1900-2019.");
      }
      }
      </script>
{% endblock %}
