{% block carRemoved %}
 <main region="main" class="main site-content">
      <section class="statement">
        <header>
          <h2>Renting Done Right. </br> Finally.</h2>
        </header>
     
      </section>
    <nav region="navigation">

              <tr><td colspan="3">
          <form action="/customersMenu" method="post">
            <input class="btn nav-btn" type="submit" value="Customers">
          </form> 
          </td>
            <td colspan="3">
          <form action="/carsMenu" method="post">
            <input class="btn nav-btn" type="submit" value="Cars">
          </form>  
          </td>
            <td colspan="3">
          <form action="/rentCar" method="post">
            <input class="btn nav-btn" type="submit" value="Rent Car">
          </form>  
          </td>
            <td colspan="3">
          <form action="/returnCar" method="post">
            <input class="btn nav-btn" type="submit" value="Return Car">
          </form>  
          </td>
           <td colspan="3">
          <form action="/history" method="post">
            <input class="btn nav-btn" type="submit" value="History">
          </form>  
          </td></tr>

    </nav>


 
  <h2>Car Removed</h2>

{% if statusRented == 0 %}
    <p>The car with license plate number {{licensePlate}} has been removed.</p>

{% else %}
    <p><i>The car with the license plate number {{licensePlate}}
       cannot be removed since they are currently being rented.</i></p>
{% endif %}
  
  <form method="post" action="/carsMenu">
    <input class="btn add-item-btn" type="submit" value="Ok">
  </form>
  </main>
{% endblock %}
