{% block carRemoved %}

       
      	<header class="text-center m-5">
					<h2 class=" font-weight-bold">Renting Done Right.
					</br>
					Finally.</h2>
			</header>



<nav class="navbar navbar-expand-lg navbar-dark nav-bg " >
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
  <ul class="navbar-nav mx-auto font-weight-bold">
      <li class="nav-item">
        <a class="nav-link" href="/customersMenu">Customers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/carsMenu">Cars</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/rentCar">Rent Car</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/returnCar">Return Car</a>
      </li>
	  <li class="nav-item">
        <a class="nav-link" href="/history">History</a>
      </li>
    </ul>
  </div>
</nav>

<main region="main" class="main site-content">
  <h2>Car Removed</h2>

{% if statusRented == 0 %}
    <p>The car with license plate number {{licensePlate}} has been removed.</p>

{% else %}
    <p><i>The car with the license plate number {{licensePlate}}
       cannot be removed since they are currently being rented.</i></p>
{% endif %}
  
  <form method="post" action="/carsMenu">
    <input type="submit" value="Ok">
  </form>
  </main>
{% endblock %}

