{% block carReturned %}

          
      	<header class="text-center m-5">
					<h2 class=" font-weight-bold">Renting Done Right.
					</br>
					Finally.</h2>
			</header>



<nav class="navbar navbar-expand-lg navbar-dark nav-bg " >
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
  <ul class="navbar-nav mx-auto font-weight-bold">
      <li class="nav-item">
        <a class="nav-link" href="/customersMenu">Customers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/carsMenu">Cars</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/rentCar">Rent Car</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/returnCar">Return Car</a>
      </li>
	  <li class="nav-item">
        <a class="nav-link" href="/history">History</a>
      </li>
    </ul>
  </div>
</nav>

<main region="main" class="main site-content">
  <h2>Car Returned</h2>

  <p>The car {{licensePlate}} has successfully been returned.</p>

  <form method="post" action="/carsMenu">
    <input class="btn btn-custom col mt-2" type="submit" value="Return to menu">
  </form>
  </main>
{% endblock %}
