{% block customerRemoved %}
  <h1>Customer Removed</h1>

    <p>Customer {{customerName}} with number {{customerNumber}} has been removed.</p>

  
  <form method="post" action="/customersMenu">
    <input type="submit" value="Ok">
  </form>
{% endblock %}
