{% block mainMenu %}



  <main region="main" class="main site-content">
 
      <section class="statement">
        <header>
          <h2>Renting Done Right. </br> Finally.</h2>
        </header>
     
      </section>
    <nav region="navigation">

              <tr><td colspan="3">
          <form action="/customersMenu" method="post">
            <input class="btn nav-btn" type="submit" value="Customers">
          </form> 
          </td>
            <td colspan="3">
          <form action="/carsMenu" method="post">
            <input class="btn nav-btn" type="submit" value="Cars">
          </form>  
          </td>
            <td colspan="3">
          <form action="/rentCar" method="post">
            <input class="btn nav-btn" type="submit" value="Rent Car">
          </form>  
          </td>
            <td colspan="3">
          <form action="/returnCar" method="post">
            <input class="btn nav-btn" type="submit" value="Return Car">
          </form>  
          </td>
           <td colspan="3">
          <form action="/history" method="post">
            <input class="btn nav-btn" type="submit" value="History">
          </form>  
          </td></tr>

    </nav>
   <aside class="commercialpicture">
    <img src="../untitled-2.png">
  </aside>
        </main>
       

{% endblock %}


