{% block returnCar %}




  <main region="main" class="main site-content">
        <section class="statement">
        <header>
          <h2>Renting Done Right. </br> Finally.</h2>
        </header>
     
      </section>
    <nav region="navigation">

              <tr><td colspan="3">
          <form action="/customersMenu" method="post">
            <input class="btn nav-btn" type="submit" value="Customers">
          </form> 
          </td>
            <td colspan="3">
          <form action="/carsMenu" method="post">
            <input class="btn nav-btn" type="submit" value="Cars">
          </form>  
          </td>
            <td colspan="3">
          <form action="/rentCar" method="post">
            <input class="btn nav-btn" type="submit" value="Rent Car">
          </form>  
          </td>
            <td colspan="3">
          <form action="/returnCar" method="post">
            <input class="btn nav-btn" type="submit" value="Return Car">
          </form>  
          </td>
           <td colspan="3">
          <form action="/history" method="post">
            <input class="btn nav-btn" type="submit" value="History">
          </form>  
          </td></tr>

    </nav>
  <div class="mainsection">
    <section class="form">
      <legend class="formHeader">
        <h2>Return Car</h2>
      </legend>
      
        <form method="post" action="/carReturned">
          <label>
            Car: <select name="licensePlate" autofocus="autofocus">
         {% for rentedCar in rentedCars %}
         
           <option hidden disabled selected value>
           -- Select car --</option>
            <option value={{rentedCar.licensePlate}}>{{rentedCar.licensePlate}}</option>
          </label>
          {% endfor %}
          </select>
          <input class="btn add-btn" type="submit" value="Return Car" style="width: 20%">
      </form>
          <form method="post" action="/carsMenu">
        <input class="btn add-btn" type="submit" value="Cancel">
      </form>
    </section>
  </div>
  </main>
{% endblock %}
